<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>DevOpsec</li>
      <li>Fawas</li>
      <li>Omoshonwon</li>
      <li>add more...</li>
    </ul>
  </body>
</html>